<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Brewer App</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      </ul>

    <button type="button" class="btn btn-dark my-2 my-sm-0" data-toggle="modal" data-target="#optionsModal">Options</button>
</nav>

  <div class="modal fade" id="optionsModal" tabindex="-1" role="dialog" aria-labelledby="optionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="optionsModalLabel">Options</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
          
            <h5>Sort by</h5>
            <select class="custom-select" #sortBySelect (change)="onChangeSorting(sortBySelect.value)">
                <option value="name" selected> Name </option>
                <option value="type"> Type </option>
                <option value="price"> Price </option>
            </select>
            <hr>
            <h5>Amount to load</h5>
            <select class="custom-select" #listAmount (change)="onChangeAmount(listAmount.value)" >
                <option value="5"> 5 </option>
                <option value="15" selected> 15 </option>
                <option value="30"> 30 </option>
            </select>
            <hr>
            <h5>Change Theme</h5>
            
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radioLight" name="themeRadios" checked (change)="toggleTheme()">
                <label class="form-check-label" for="radioLight">Light Mode</label>
            </div>
        
             <div class="form-check">
                <input type="radio" class="form-check-input" id="radioDark" name="themeRadios" (change)="toggleTheme()"> 
                 <label class="form-check-label" for="radioDark">Dark Mode</label>
            </div>

        </div>
      </div>
    </div>
  </div>